name: netflix-clone

on:
 push:
 branch: main
 jobs:
   runs-on: ubuntu-latest

   steps:
     - name: Configure AWS Credentials
       uses: aws-actions/configure-aws-credentials@v5.1.1
       with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2
  
     - name: Login to Amazon ECR
         id: login-ecr
         uses: aws-actions/amazon-ecr-login@v2

     - name: Build Docker image
        run: |
             docker build -t --build-arg TMDB_V3_API_KEY netflix-cloneapp:${COMMIT_ID} 
             docker push ${{secrets.AWS_REPOSITORY_URL}}:latest
     - name: Update image in deployment file
        run: yq e '.spec.template.spec.containers[0].image = "${{secrets.AWS_REPOSITORY_URL}}:${{ env.GITHUB_BRANCH }}" ' -i Kubernetes/deployment.yml
