name: netflix-clone

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AWS_REPOSITORY_URL: ${{ secrets.AWS_REPOSITORY_URL }}
  LOGIN_GITHUB_USERNAME: ${{ secrets.LOGIN_GITHUB_USERNAME }}
  LOGIN_GITHUB_TOKEN: ${{ secrets.LOGIN_GITHUB_TOKEN }}
  IMAGE_TAG: ${{ github.sha }}

jobs:
  nodejs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker Image
        run: |
          docker build \
            --build-arg TMDB_V3_API_KEY=${{ secrets.TMDB_V3_API_KEY }} \
            -t $AWS_REPOSITORY_URL:${IMAGE_TAG} .

          docker push $AWS_REPOSITORY_URL:${IMAGE_TAG}

      - name: Update image in deployment file
        run: |
          yq e ".spec.template.spec.containers[0].image = \"$AWS_REPOSITORY_URL:${IMAGE_TAG}\"" -i Kubernetes/Deployment.yml

      - name: Commit updated deployment
        run: |
          git config user.name "krrishnacloud"
          git config user.email "krishnavemula423@gmail.com"
          git add Kubernetes/Deployment.yml
          git commit -m "Update image to ${IMAGE_TAG}"
          git push
