name: netflix-clone

on:
 push:
  branches:  
         - main 
  env:
    AWS_REPOSITORY_URL: ${{ secrets.AWS_REPOSITORY_URL }}
    GITHUB_TOKEN: ${{ secrets.LOGIN_GITHUB_TOKEN }}
    LOGIN_GITHUB_USER: ${{ secrets.LOGIN_GITHUB_USER }}
    
  jobs:
       Node.js:
         runs-on: ubuntu-latest
         steps:
           - name: Configure AWS Credentials
             uses: aws-actions/configure-aws-credentials@v5.1.1
             with:
              aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
              aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
              aws-region: us-east-2
  
          - name: Login to Amazon ECR
            id: login-ecr
            uses: aws-actions/amazon-ecr-login@v2

          - name: Build Docker image
            run: |
              docker build -t --build-arg TMDB_V3_API_KEY netflix-cloneapp:${COMMIT_ID} 
              docker push ${{secrets.AWS_REPOSITORY_URL}}:latest
          - name: Update image in deployment file
            run: yq e '.spec.template.spec.containers[0].image = "${{secrets.AWS_REPOSITORY_URL}}:${{ env.GITHUB_BRANCH }}" ' -i Kubernetes/deployment.yml
          - name: Commit updated deployment
            run: |
              git config user.name "krrishnacloud"
              git config user.email "krishnavemula423@gmail.com"
              git add Kubernetes/deployment.yml
              git commit -m "Update image to $IMAGE_TAG"
              git push
